@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen darkToggle;
  }
  html {
    font-family: "Raleway", sans-serif;
  }
}

.darkToggle {
  @apply bg-white text-black dark:bg-zinc-900 dark:text-white transition duration-500;
}

.navLink {
  @apply cursor-pointer font-medium flex items-center h-full;
}

.navLink .active {
  @apply flex items-center h-full border-b-2 border-b-black dark:border-b-white;
}

.menuLink {
  @apply flex items-center mb-5 space-x-6 cursor-pointer font-medium text-sm md:text-[16px] text-white dark:text-black;
}

.menuBtn {
  @apply text-white border-0 outline-none focus:outline-none absolute top-[22px] left-[22px] w-[40px] h-[40px] rounded-full;
}
.background {
  @apply bg-zinc-800 dark:bg-white absolute top-0 left-0 bottom-0 w-[200px] md:w-[300px] shadow-md transition duration-500;
}
.icon-placeholder {
  @apply w-[25px] h-[25px] md:w-[45px] md:h-[45px] rounded-full flex items-center justify-center text-white bg-slate-900;
}
.text-placeholder {
  @apply flex-1 h-8 rounded-lg flex items-center justify-center;
}

ul li:nth-child(1) span {
  border: 2px solid #ff008c;
}
ul li:nth-child(2) span {
  border: 2px solid #d309e1;
}
ul li:nth-child(3) span {
  border: 2px solid #9c1aff;
}
ul li:nth-child(4) span {
  border: 2px solid #7700ff;
}
ul li:nth-child(5) span {
  border: 2px solid #4400ff;
}

.title {
  @apply text-3xl font-bold capitalize underline underline-offset-8 text-gray-500 dark:text-gray-300 text-center mb-20;
}

.btnColor {
  @apply bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500 text-white;
}
.btn {
  @apply btnColor hover:shadow-xl hover:-translate-y-2 px-10 py-2 capitalize rounded-full transition duration-500 font-medium cursor-pointer;
}

.project-grid {
  @apply grid grid-cols-1 xl:grid-cols-3 relative last-of-type:mb-10 mb-20 xl:mb-32 justify-items-center;
}
.project-desc {
  @apply xl:absolute top-20  xl:w-[700px] xl:py-6 xl:px-5 xl:rounded-lg xl:bg-gray-100 xl:dark:bg-indigo-900 mb-10 text-xs md:text-sm leading-8 xl:shadow-lg z-10;
}

.project-title {
  @apply text-xl xl:text-3xl font-bold uppercase my-5 xl:my-0 xl:mb-10;
}

.skill-item {
  @apply relative dark:after:absolute dark:after:inset-0 dark:after:bg-zinc-600 dark:after:rounded-lg dark:after:blur after:-z-10 w-20  md:w-32 h-20 bg-gray-100 dark:bg-zinc-800  rounded-lg flex flex-col items-center justify-center shadow-xl gap-1 font-medium;
}

.skill-parent {
  @apply flex sm:flex-col items-center gap-8 lg:gap-12;
}
